@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --default-background-color: silver;
  --default-border-color: grey;
  --combatant-border-width: 5px;
  --combatant-padding: 5px;
  --combatant-border-radius: 7px;
  --image-size: 45px;
  --font-size: medium;
  --info-width: 70px;
  --info-height: 25px;
  --combatant-opacity: 0.7;
}

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: Roboto, system-ui, "Segoe UI", "Open Sans", sans-serif;
  background-image: url("../../../../test data/images/Castle Naerytar Ground Level.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*
.s {
    --combatant-border-width: 3px;
    --combatant-padding: 3px;
    --combatant-border-radius: 5px;
    --image-size: 30px;
    --font-size: small;
    --info-width: 50px;
    --info-height:20px;
}

.m {
    --combatant-border-width: 5px;
    --combatant-padding: 5px;
    --combatant-border-radius: 7px;
    --image-size: 45px;
    --font-size: medium;
    --info-width: 100px;
    --info-height:25px;
}

.l {
    --combatant-border-width: 8px;
    --combatant-padding: 8px;
    --combatant-border-radius: 10px;
    --image-size: 60px;
    --font-size: large;
    --info-width: 130px;
    --info-height:30px;
}
*/
.combatant {
  vertical-align: middle;
  display: flex;
  column-gap: 5px;
  justify-content: start;
  align-items: center;
  vertical-align: middle;
  border: var(--default-border-color) solid var(--combatant-border-width);
  border-radius: var(--combatant-border-radius);
  background-color: var(--default-background-color);
  padding: var(--combatant-padding);
  margin: 0px;
  opacity: var(--combatant-opacity);
}
.combatant:hover {
  opacity: 1;
  box-shadow: 5px 5px 15px black;
}
.combatant .img {
  width: var(--image-size);
  height: var(--image-size);
  border: 1px solid black;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  filter: drop-shadow(0.5em, 0.5rem, 5rem maroon);
}
.combatant img {
  width: var(--image-size);
  height: var(--image-size);
  /* margin: 0px;
  padding: 0px; */
}

.active {
  opacity: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: start;
  align-items: center;
  vertical-align: middle;
  border: var(--default-border-color) solid var(--combatant-border-width);
  border-radius: var(--combatant-border-radius);
  background-color: var(--default-background-color);
  padding: var(--combatant-padding);
  margin: 0px;
}

/*
.ally {
    background-color: rgb(79, 221, 79);
    border-color: rgb(8, 207, 8);
}

.foe {
    background-color:rgb(221,79,79);
    border-color: rgb(207,8,8);
}

.neutral-blue {
    background-color: rgb(79,79,221);
    border-color: rgb(8,8,207);
}

.neutral-yellow {
    background-color: rgb(221, 221, 79);
    border-color: rgb(207,207,8);
}

.neutral-grey {
    background-color: rgb(221, 221, 221);
    border-color: rgb(108,108,108);
}
*/
.info {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
  width: var(--info-width);
  text-align: center;
}
.info span {
  font-size: var(--font-size);
  font-weight: bold;
  height: var(--info-height);
}
.info input[type=text] {
  padding: var(--combatant-padding);
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: normal;
  box-shadow: 2px 2px 3px black;
  width: 75%;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 5px;
}

/*# sourceMappingURL=combat.css.map */
