/*:root {

}*/

html {
    margin: 5px;
}

body {
    margin: 0px;
    padding: 10px;

    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: white;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

div {
    padding: 5px;
    margin: 10px;
    background-color: #f6f8fa;
    border: 1px solid #ABB3A1;
}

p {
    padding: 3px;
    margin: 3px;
    text-indent: 0px;
}

a {
    color: #4183C4;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 {
    padding-bottom: 8px;
    font-size: 1.8em;
    line-height: 1.2;
    border-bottom: 1px solid #eaecef;
    margin: 3px;
}

h2 {
    padding-bottom: 8px;
    font-size: 1.6em;
    line-height: 1.225;
    border-bottom: 1px solid #eaecef;
    margin: 3px;
}

h3 {
    padding-bottom: 8px;
    font-size: 1.5em;
    line-height: 1.43;
    margin: 3px;
}

h4 {
    font-size: 1.4em;
    margin: 3px;
}

h5 {
    font-size: 1.3em;
    margin: 3px;
}

h6 {
    font-size: 1.2em;
    margin: 3px;
    color: #777;
}

blockquote,
ul,
ol,
dl,
table {
    margin: 0 0;
    padding: 0 0;
}

li>ol,
li>ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 5px;
}

ul:last-child,
ol:last-child {
    margin-bottom: 5px;
}

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}

blockquote blockquote {
    padding-right: 0;
}

table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 12pt;
    color: #000000
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}


code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}
