body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 5px;
    margin: 0px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.menu {
    background-color: #3e4383;
    color: white;
    margin: 0px;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: end;
    justify-items: right;
    flex-direction: column;
    width: 150px;
    height: calc(100% - 20px);
}

.body {
    border: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 170px);
    height: calc(100% - 20px);
}

.content {
    width: 100%;
    height: calc(100% - 40px);
}

.content h1 {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.content p {
    padding: 0px;
    margin: 0px; 
    margin-bottom: 10px
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    align-content: center;
    gap: 5px;
    width: calc(100% - 10px);
    height: 30px;
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
    background-color: #ccc;
}

.buttons>button {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    height: 28px;
    width: 108px;
}